@charset "utf-8";

.table_style{
border-collapse: collapse;
margin-left: auto;
margin-right: auto;
}

.table_style th{
padding: 6px;
text-align: left;
vertical-align: top;
color: #333;
background-color: #eee;
border: 1px solid #b9b9b9;
}

.table_style td{
padding: 6px;
background-color: #fff;
border: 1px solid #b9b9b9;
}

.error {
color: red;
font-weight: normal;}