<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>在庫管理システム</title>
		<meta name="description" content="トナー、パーツの在庫管理をします。">
		<meta http-equiv="Content-Style-Type" content="text/css" />
		<link href="style.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div style="text-align:center">
		<p></br><a href="login.php">ログアウト</a>　　　　　<a href="top.php">TOP</a>　　　　　<a href="new_input.php">新規登録</a>　　　　　<a href="edit.php">編集／削除</a></p>
		</br>
		<p>削除（確認）</p></br>下記の情報を削除します。<br/><br/>
			<form action="delete_result.php" method=post>
			<table class="table_style">
				<tr>
					<th width=150>コード</th>
					<th width=150>型番</th>
					<th width=300>品名</th>
					<th width=80>在庫</th>
					<th width=60>種類</th>
					<th width=180>最終操作日時</th>
					<th width=120>最終操作者</th>
				</tr>
				<tr>
					<td>{$code}</td>
					<td>{$serial}</td>
					<td>{$name}</td>
					<td>{$num}</td>
					<td>{$category}</td>
					<td>{$last_access}</td>
					<td>{$last_member}</td>
				</tr>
			</table></br>
			<input type="hidden" name="code" value={$code}>
			<input type="submit" name="delete" value="削除" >
			</form>
		</div>
	</body>
</html>