<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>在庫管理システム</title>
		<meta name="description" content="トナー、パーツの在庫管理をします。">
		<meta http-equiv="Content-Style-Type" content="text/css" />
		<link href="style.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div style="text-align:center">
		<p><br/><a href="login.php">ログイン画面</a></p>
		<br/>
		<p>ユーザ情報登録（入力）<br/><br/>
		<font color="red"><b>{$errorMessage}</b></font></p>
		<form action="user_check.php" method=post>
		<table class="table_style">
			<tr>
				<th width=200>名前</th>
			</tr>
			<tr>
				<td><input type="text" size=40 name="username" value={$username}></td>
			</tr>
		</table><br/>
		<input type="submit" value="確認" >
		</form>
		</div>
	</body>
</html>