<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>在庫管理システム</title>
		<meta name="description" content="トナー、パーツの在庫管理をします。">
		<meta http-equiv="Content-Style-Type" content="text/css" />
		<link href="style.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div style="text-align:center">
		<p><br/><a href="login.php">ログイン画面</a></p>
		<br/>
		<p>ユーザ情報登録（確認）<br/><br/>
		下記の内容で登録します。よろしいですか？<br/><br/></p>
		<table class="table_style">
			<tr>
				<th width=200>名前</th>
			</tr>
			<tr>
				<td>{$username}</td>
			</tr>
		</table><br/>
		<form action="user_result.php" method=post>
			<input type="hidden" name="username" value={$username}>
			<input type="submit" value="登録" >
		</form>
		</div>
	</body>
</html>